In [ ]:
x=20

In [ ]:
if x>10 :
  print("x is greater than 10")

x is greater than 10

In [ ]:
x=20
if x>10 :
  print ("x greater than 10")
if x<10 :
    print ("x less than 10")

x greater than 10

In [ ]:
x=10
if x>10 :
  print ('x greater than 10')
if x<10 :
  print ("x less than 10")  
if x==10 :
  print ("x is equal to 10")

x is equal to 10

In [23]:
x=int(input("enter the mark"))
if x>=100 :
  print ("pass")
if x<100 :
  print ("fail")

enter the mark143
pass

In [27]:
x=int(input("enter the salary"))
if x>=250000 :
  print("taxable")
  print(x*10/100)
if x<250000 :
  print("no tax")

enter the salary300000
taxable
30000.0